FRONTEND_IP=127.0.0.1
FRONTEND_PORT=1641

SEQUENCER_IP=127.0.0.1
SEQUENCER_PORT=1642

INSTANCE1_IP=127.0.0.1
INSTANCE1_COMP_PORT=1780
INSTANCE1_SOEN_PORT=1781
INSTANCE1_INSE_PORT=1782

INSTANCE2_IP=127.0.0.1
INSTANCE2_COMP_PORT=1801
INSTANCE2_SOEN_PORT=1802
INSTANCE2_INSE_PORT=1803

INSTANCE3_IP=127.0.0.1
INSTANCE3_COMP_PORT=1901
INSTANCE3_SOEN_PORT=1902
INSTANCE3_INSE_PORT=1903

INSTANCE4_IP=127.0.0.1
INSTANCE4_COMP_PORT=2001
INSTANCE4_SOEN_PORT=2002
INSTANCE4_INSE_PORT=2003